.chat-human {
    background-color: #534e05;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 14px;
    color: rgb(224, 205, 205);
    text-align: left;
}

.chat-robot {
    background-color: #064168;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 14px;
    color: rgb(168, 216, 255);
    text-align: right;
}