#rec-input {
    width: 53%;
}

#rec-transcript {
    color: #fff;
}

.blink-transcript {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite;
}

@keyframes blinker {
    from {
        background-color: #0d6dfd2f;
    }

    to {
        background-color: #0d6dfd3d;
    }
}